In [1]:
import pandas as pd
import numpy as np

In [2]:
data_one = pd.read_csv('data_one.csv')
data_two = pd.read_csv('data_two.csv')
train = pd.read_csv('data/train_and_test/train.csv')
test = pd.read_csv('data/train_and_test/test.csv')

In [6]:
data_one.head(12)

,user_id,create_count,create_day_mean,create_day_max,create_day_min,create_day_std,create_day_var,last_day_cut_max_day,create_sub_register_x,max_create_times_per_day,...,activity_day_diff_mean,activity_day_diff_max,activity_day_diff_min,activity_day_diff_std,activity_day_diff_var,activity_day_diff_ske,activity_day_diff_kur,hot,label,hot_mean
0,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,NaN,1,NaN
1,98,1.0,16.00,16.0,16.0,NaN,NaN,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
3,218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,4.0,-4.0,2.144444,4.598639,0.000000,-0.873455,NaN,1,NaN
4,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
5,336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,10.0,-10.0,2.873207,8.255319,0.252725,9.770421,NaN,0,NaN
6,422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
7,607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,NaN,0,NaN
8,711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0,NaN
9,746,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
10,901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
11,973,4.0,13.75,14.0,13.0,0.5,0.25,-2.0,-3.0,3.0,...,0.0,2.0,-2.0,0.568458,0.323144,0.143885,3.743082,38.0,1,9.5

In [4]:
data_one['hot_mean'] = data_one.hot/data_one.create_count

In [8]:
data_two['hot_mean'] = data_two.hot/data_two.create_count
train['hot_mean'] = train.hot/train.create_count
test['hot_mean'] = test.hot/test.create_count

In [10]:
data_one.to_csv('data_one.csv', index=False)
data_two.to_csv('data_two.csv', index=False)
train.to_csv('data/train_and_test/train.csv', index=False)
test.to_csv('data/train_and_test/test.csv', index=False)

In [3]:
a = pd.read_csv('result4/final2.csv')
b = pd.read_csv('pa5avbxadb.csv')

In [18]:
b.rename(columns={'105':'id'},inplace=True)

In [22]:
pd.merge(a,b,on='id')

            id
0        29769
1       782006
2       748723
3       493401
4       784237
5       486186
6       693318
7       804715
8      1081151
9       831780
10      255295
11      473136
12     1093541
13      861000
14      963698
15      691108
16     1218562
17      693837
18      408015
19     1114680
20      326068
21      270482
22       36722
23     1019514
24      786821
25      307612
26      466084
27      327711
28      971789
29      129028
...        ...
22354   392526
22355   763971
22356  1119325
22357   636987
22358  1222846
22359   772966
22360   909550
22361   761705
22362   109213
22363  1012905
22364  1316020
22365   500773
22366   636606
22367   868632
22368  1270642
22369  1317833
22370  1117680
22371   588855
22372    41325
22373   358672
22374   707805
22375   493940
22376   494225
22377   692462
22378   514943
22379   391113
22380   217147
22381   425430
22382    15277
22383  1059551

[22384 rows x 1 columns]